<div class="row">
    <img class="img-responsive mb15" src="~/Images/banner_pizza.png" />
</div>
<div class="container">
    <div class="row">
        <div align="center">
            <button class="btn btn-default filter-button active" data-filter="all">Todas</button>
            <button class="btn btn-default filter-button" data-filter="carne">Carne</button>
            <button class="btn btn-default filter-button" data-filter="pollo">Pollo</button>
            <button class="btn btn-default filter-button" data-filter="vegetariana">Vegetarianas</button>
        </div>
        <br />

        @for (var i = 0; i < ViewBag.ListProduct.Length; i++)
        {
            <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter ">
                <label>@ViewBag.ListProduct[i].NombreProducto</label>
                <p>@ViewBag.ListProduct[i].Descripcion</p>
                <span>S/. @ViewBag.ListProduct[i].Precio</span>
                <input type="number" value="0" />
                <button class="btn btn-danger">Ordernar</button>
                <div style="background-image:url(@ViewBag.ListProduct[i].IdProducto)"></div>
            </div>
        }

        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter ">
            <label>Pizza Americana</label>
            <p>Pepperoni & Ham.</p>
            <span>S/. 45.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza1.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter carne">
            <label>Pizza Full Meat</label>
            <p>Pizza with Pepperoni, Ham, Italian Sausage, Ground Beef & Mozzarella Cheese.</p>
            <span>S/. 60.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza7.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter pollo">
            <label>Pizza Pollo BBQ</label>
            <p>Pizza con Salsa dulce BBQ, Pollo a la Parrilla, Cebolla Roja, Tocino & Queso Mozzarella .</p>
            <span>S/. 55.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza2.jpg)"></div>
        </div>        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter carne">
            <label>Pizza The Works</label>
            <p>Pizza with Pepperoni, Ham, Fresh Mushrooms, Green Peppers, Onions, Italian Sausage, Ground Beef, Black Olives & Extra Mozzarella Cheese.</p>
            <span>S/. 60.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza5.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter ">
            <label>Pizza Hawaiana</label>
            <p>Pizza with Ham, Bacon, Pineapple & Mozzarella Cheese.</p>
            <span>S/. 57.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza6.jpg)"></div>
        </div>        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter vegetariana">
            <label>Pizza Vegetariana</label>
            <p>Fresh Mushrooms, Green Peppers, Onions, Black Olives, Tomatoes & Mozzarella Cheese.</p>
            <span>S/. 45.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza8.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter carne">
            <label>Pizza Tocino Queso Hamburgesa</label>
            <p>Pizza with Ground Beef, Bacon, Cheddar & Mozzarella Cheese.</p>
            <span>S/. 65.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza9.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter pollo">
            <label>Pizza Pollo Asiatico</label>
            <p>Pizza with Tangy Asian Sauce, Grilled Chicken Breast, Green Peppers, Red Onions & Mozzarella Cheese, sprinkled with Sesame Seeds.</p>
            <span>S/. 50.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza3.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter vegetariana">
            <label>Pizza Especial #1</label>
            <p>Pizza with Pepperoni, Ham, Fresh Mushrooms, Green Peppers, Onions & Mozzarella Cheese.</p>
            <span>S/. 50.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza4.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter carne">
            <label>Pizza Especial #2</label>
            <p>Pizza with Special Cheese Sauce, Marinated Steak, Fresh Mushrooms, Green Peppers & Onions, covered in Provolone Cheese.</p>
            <span>S/. 65.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza10.jpg)"></div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter vegetariana">
            <label>Pizza Sin Gluten</label>
            <p>Our Gluten-Free Pizza Crust does not contain wheat, barley, or rye and has less than 20 parts per million of gluten.</p>
            <span>S/. 40.00</span>
            <input type="number" value="0" />
            <button class="btn btn-danger">Ordernar</button>
            <div style="background-image:url(/Images/Pizzas/pizza11.jpg)"></div>
        </div>
    </div>
</div>