<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IOrderService" />
                <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000">
                    <readerQuotas maxDepth="32" maxStringContentLength="200000000"
                        maxArrayLength="200000000" />
                </binding>
                <binding name="BasicHttpBinding_ISupplyServie" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4688/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="basicHttp" contract="UserServiceReference.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:4688/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttp"
                contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:4688/OrderService.svc" binding="basicHttpBinding"
                bindingConfiguration="basicHttp" contract="OrderServiceReference.IOrderService"
                name="BasicHttpBinding_IOrderService" />
            <endpoint address="http://localhost:4688/SupplyService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISupplyServie" contract="SupplyServiceReference.ISupplyServie"
                name="BasicHttpBinding_ISupplyServie" />
        </client>
    </system.serviceModel>
</configuration>