<div class="row">
    <img class="img-responsive mb15" src="~/Images/Other/my_order.png" />
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="order_h1">Lista de nuevos pedidos</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped custom_table">
            <thead class="success">
                <tr class="info">
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Pedido</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>24841</td>
                    <td>Juan Perez</td>
                    <td>3 x Pizzas Americanas</td>
                    <td>01-Mayo-2017</td>
                    <td>S/. 150.00</td>
                    <td>Solicitado</td>
                    <td><button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-name"></span> Ver Detalle</button></td>
                </tr>
            </tbody>
        </table>
    </div>    
    <ul class="pager">
        <li><a href="#">Anterior</a></li>
        <li><a href="#">Siguiente</a></li>
    </ul>
</div>