<div class="row">
    <img class="img-responsive mb15" src="~/Images/Other/my_order.png" />
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="order_h1">Panel Administrador</h1>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary text-center">Ordenes</button>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary text-center">Productos</button>
    </div>
</div>